@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

$orange: #ff9800;
$yellow: #ffeb3b;
$green: #4caf50;
$turquoise: #009688;
$blue: #03a9f4;
$purple: #9c27b0;
$red: #f44336;
$primary: #2196f3 !default;
