<aside class="menu">
  <ul class="menu-list js-sb">
    <p class="menu-label logo">XML Admin</p>
    <li><a id="js-sb_home" class="is-active">Home</a></li>
    <li><a id="js-sb_new-xml">New XML</a></li>
    <li class="profile"><label>Hello, <span>Bruno Viera</span></label></li>
    <li class="logout"><a id="js-sb_logout" class="button is-text is-black">Logout</a></li>
  </ul>
</aside>