<aside class="menu">
  <ul class="menu-list">
    <p class="menu-label logo">XML Admin</p>
    <li><a class="is-active">Dashboard</a></li>
    <li><a>My XMLs</a></li>
    <li class="profile"><a>Hello, <span>Bruno Viera</span></a></li>
    <li class="logout"><button id="logoutBtn">Logout</button></li>
  </ul>
</aside>