<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Bruno Viera">
        <meta name="google-signin-client_id" content="188877190503-873ktnjqsmjjpj87f6vfkvs2jnrh1aj7.apps.googleusercontent.com">
        <title>XMLValidator Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="container">
            <% include partials/_side_bar %>
            <%-body%>
        </div>
        <% include partials/_footer %>

        <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>