<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="188877190503-873ktnjqsmjjpj87f6vfkvs2jnrh1aj7.apps.googleusercontent.com">
  <title>XMLValidator Admin</title>
  <link rel="stylesheet" href="/css/app.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <section class="hero is-warning is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <p class="title">
          <h1 class="title is-1">XML Validator (beta)</h1>
        </p>
        <p class="subtitle">XML Validator is a small tool that helps you to check the health of your RSS.</p>
        <p class="subtitle">It's a free tool, so feel free to login and take a look</p>
        <br>
        <h4 class="subtitle title is-4">Sign-in</h4>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
       <div class="content has-text-centered">
        <p><strong>XMLValidator</strong> by <a href="http://github.com/brunoViera" target="_blank">Bruno Viera</a>.</p>
      </div>
    </div>
  </div>
</section>
</body>
</html>